* {
    box-sizing: border-box;
}
:root{
    --color-fondo: #151549;
    --color-texto-header:#fff;
    --color-fondo-footer: #bdbcbc;
    --color-hover-menu: #468a45;
    --color-redes :#035715;

}
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    width: 100%;
}
#container{
    width: 100%;
    height: 80%;
    color: var(--color-texto-header);
    position: relative;
    
}
#cabezal1{
    width: 100%;
    height: 25%;
    background-color: var(--color-redes);
    border: 1px solid blue;
    float: right;
}
#idioma_logo{
    width: 8%;
    float: left;
    padding: 15px;
    top: 20px ;
}
#redes_logo{
    width: 8%;
    float: right;
    padding: 15px;
    top: 20px ;
    text-align: end;
}
#correo_atc{
    width: 30%;
    color: var(--color-texto-header);
    float: left;
   

}
#correo_atc a{
color: var(--color-texto-header);
}
#acceso_privado{
    width: 10%;
    color: var(--color-texto-header);
    float: right;
    
}
.menu-container{
   padding: 0;
}
.logo{
     width: 20%;
    height: 15%;
    border:1px solid var(--color-redes) ;
    float: left;
    
 }
 .menu-container nav{
    float: left;
    width: 75%;
    text-transform: uppercase;
    font-size: .8rem;
 }
.menu-container nav ul, .menu-container nav li {
    padding: 0;
    margin: 0;
}
.menu-container nav ul li{
    list-style-type: none;
    float: left;
    position: relative;
    padding: 10px ;
    color: var(--color-fondo-footer);
    z-index:1 ;
}
.menu-container nav ul li ul{
    position: absolute;
    padding-top: 15px ;
    background-color: var(--color-fondo-footer);
    display: none;

}
.menu-container nav ul li:hover ul {
    display: block;  
    }
    .menu-container nav ul li ul li{
        width: 200px;
        color: var(--color-fondo);
        border-bottom: 1px solid var(--color-fondo-footer);
    }
    .menu-container nav  ul li ul li:hover  {
        background-color: var(--color-fondo);
    }
    
    .menu-container nav  ul  li:hover {
        color: var(--color-fondo-footer);
        font-weight: bold;
       }
section{
    width: 100%;
    height: 25%;
    border: 1px solid red;
    float: left;
}
.banner{
    background-image: url(../img/coviran-bustamante.png);
   
    height: 500px;
    background-size: cover;
    position: relative;


 
    
      } 
      
#cards1{
    
    text-align: center;
    width: 100%;
    height: 350px;
}
.cards{
    display: inline-block;
    border: 2px outset;
    width: 25%;
    height: 85%;
    margin: 7px;
    padding: 1px;
    border-radius: 10px;
    
}
.cards img{
    height: 75%;
    width: 100%;
    border-radius: 10px;
}
#menuAbajo{
    width: 100%;
    height: 50px;
    background-color: #248d3b;
    
}

.menu2{
    width: 100%;
    height: 100%;
    float: right;
    text-align: center;
}
.menu2 ul, .menu2 li {
    padding: 0;
    margin: 0;
}
.menu2 li{
    width: 20%;
    height: 15px;
    list-style-type: none;
    margin : 10px ;
    padding: 5px ;
    color: #ffffff;
    border-width: 2px solid var(--color-texto-header);
    

}
.menu2 ul li{
display: inline-block;  
}
footer{
    width: 100%;
    height: 200px;
    background-color: #143d1d;
    color: #ffffff;
    float: left;
}
.anuncio{
    width: 100%;
    height: 25%;
    border: 1px solid greenyellow;
    color: #ffffff;

}
.patrocinadores{
    width: 100%;
    height: 50%;
    border: 1px solid greenyellow;
    color: #ffffff;
    text-align: center;

}
.direccion{
    width: 100%;
    height: 25%;
    border: 1px solid greenyellow;
    color: #ffffff;

}